
/*https://www.w3schools.com/css/css3_flexbox.asp*/



.header{
    background-color:#bdb4b4;
    padding:15px;
    text-align:center;
    /*margin-top: 20px;*/
    
  }

.footer{
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*os itens podem ser dispostos em várias linhas   :  nowrap | wrap-reverse*/ 
    justify-content: space-around; /*Eixo x*/
    align-items: flex-start;  /*Eixo y*/
    height: 100%;
    margin-top: 3px;
    
        
}

.child{
/*width: 45%;*/
height: 200px;
background-color: red;
border: 1px solid black;
/*flex: 1 1 24%;*/
/*overflow: scroll;*/
overflow-y: auto;


}


/* Small screens */
@media (max-width: 768px) {
   .child {
      flex: 1 1 98%; /* flex-grow - flex-shrink - flex-basis *//* Display 2 items per row -- 0 permite liberdade para colocar o tamanho -- 1 permite que o tamanho tenha relação com outras child´s*/
   }


   .container{    
    /*flex-direction: column;*/
   }   
}

/* Larger screens */
@media (min-width: 769px) {
   .child {
      height: 100px;
      flex: 0 0 20%; /* flex-grow - flex-shrink - flex-basis */
   }
}
