html, body{
    height: 100%;
    margin:0;
}

.wrapperPageHeader {
    height: 20%;
}

.pageHeader{
    height: 100%;
    border: 1px solid black;
}

.wrapperPageSidebar{
    height: 70%;
    width: 25%;
    float: left;
}

.pageSidebar{
    height: 100%;
    border: 1px solid black;
}
.wrapperContent{
    width: 75%;
    height: 70%;
    float:right;
    overflow-y: scroll;
}

.pageContent{
    height: auto;
    border: 1px solid black;
}

.wrapperPageFooter{
    height: 10%;
    margin-bottom: 0;
    clear: both;
}

.pageFooter{
    height: 100%;
    border: 1px solid black;
}